*{
    margin: 0 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    /*justify-content alinha no sentido do flex*/
    width: 100%;
    align-items: center;
    height: 88px;
    box-shadow:(#FF6E22);/* da uma efeito de sombra no elemento */



}

header div {
    display: flex;
    justify-content: space-between;
    width: 90%;


}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    gap: 10px; /* espaco entre os elementos do pai */
}

header nav a{
    text-decoration: none;/*tira e poe decoracao do texto.*/
    /* text-indent: 5px; */
}

p {
    justify-content: center;
    font-family: ra;    

}

.linkcadastro{
    color:#FF6E22;
    


}
/* header nav a:nth-child(2){
    margin-left: 20px;
} */

/*Banner*/

.banner{
    display:flex;
    width:100%;
    background-color
    justify-content: space-between;
    align-items: center;
    height: 500px;
    

}

.banner div{
    height: 85%;
}

.div_informacao_banner{
    background-color: aqua;
    display:flex;
    flex-direction: column;
    max-width: 1000px;


}

.div_fotos_banner{
    background-color: blueviolet;


}

h1{
    font-size: 40px;
    margin-bottom: 50px;
}

.div_informacao_banner p{
    margin-bottom: 15px;
   

}

.div_informacao_banner1 p{
    margin-bottom: 15px ;
    font-size: 25px;


}

.div_tipo_pefil p{
    margin-bottom: 20px;
    font-size: 30px;
    align-items: center;
    display: flex;
    background-color: blue;
    
    


}
footer{
    background-color: #0088AE;
    
}

footer p{
    font-size: 30px;
    
}



footer .logo{
    font-size:20px;
    display: block;


}
    

